{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
</head>
<style>
    body{
        background: linear-gradient(45deg,#161c93,#651f7f);
    }
</style>
<body>
    <div class="container1">
        <div class="title">
            <h1 style="color: #fff;"> Project Management</h1>
        </div>
    </div>


    <div class="container2">
        <div class="navbar">
            <a href="{% url 'home' %}" style="color: #fff;">HOME</a>
        </div>
        <div class="navbar">
            <a href="{% url 'student' %}" style="color: #fff;">STUDENTS</a>
        </div>
    </div>

    <div class="home" style="padding-bottom: 200px;">
        <h1>EXPLORE OUR COMPUTER SCIENCE STUDENTS <br>PROJECTS<br><br>MSC COMPUTER SCIENCE</h1>
    </div>



</body>
</html>