 {% load static %}
 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
</head>
<style>
    body{
        background: linear-gradient(45deg,#14195d,#47115a);
    }
</style>
<body>
    <div class="container1">
        <div class="title">
            <h1 style="color: #fff;"> Project Management</h1>
        </div>
    </div>


    <div class="container2">
        <div class="navbar">
            <a href="{% url 'home' %}" style="color: #fff;">HOME</a>
        </div>
        <div class="navbar">
            <a href="{% url 'student' %}" style="color: #fff;">STUDENTS</a>
        </div>
        
    </div>
    {%for i in student%}
    <div class="container4">
        <div>
            <img src="{{i.image.url}}" alt="Display_student_image">
        </div>
        <div class="project_title">
            <div class="title1">
                <h1 >TITLE:&nbsp;&nbsp;&nbsp; {{i.project}}</h1>
            </div>
            <div class="name">
                <h1>NAME :&nbsp;&nbsp;&nbsp; {{i.name}} </h1>
            </div>
            <div class="roll">
                <h1>REG NO :&nbsp;&nbsp;&nbsp; {{i.rollno}}  </h1>
            </div>
            <div class="roll">
                <h1>BATCH :&nbsp;&nbsp;&nbsp;{{i.batch}}</h1>
            </div>
        </div>
    </div>
    
    <div >
        <div>
            <h1 style="text-align: center;color: #fff; margin-top:150px;">WRITE YOUR ABSTRACT HERE👇</h1>
        </div>
        <div style="align-items: center; display:flex;justify-content:center;flex-direction: column;" class="speech">
            <textarea>{{i.abstract}}</textarea>
            <button>▶️ START</button>
        </div>
        <div >
            <h2 style="text-align: center;color: #fff; padding-bottom:50px;">Click here to View Full Documentation 👉<a href="{{i.link}}" style="color: #fff;">Documentation</h2></a>
        </div>
    </div>
    {%endfor%}

<script src="{% static 'assets/css/script.js'%}"></script>
</body>
</html>