{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "assets/css/home.css" %}">
    <title>Document</title>
</head>
<body>
    
    <div>
        <div class="navbar">
            <p>Django Documentation Management</p>
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "student" %}">Students</a>
        </div>
    </div>
    


<div class="container4">
    {% for i in student %}
    <div>
        <img src="{{i.image.url}}" alt="Display_student_image">
    </div>
    <div class="project_title">
        <div class="title1">
            <h2 >TITLE :&nbsp;&nbsp;&nbsp; {{i.project}}</h2>
        </div>
        <div class="name">
            <h2>NAME :&nbsp;&nbsp;&nbsp; {{i.name}} </h2>
        </div>
        <div class="roll">
            <h2>REG NO :&nbsp;&nbsp;&nbsp; {{i.rollno}}  </h2>
        </div>
        <div class="roll">
            <h2>BATCH :&nbsp;&nbsp;&nbsp;{{i.batch}}</h2>
        </div>
    </div>
</div>

<div class="content">
    <div class="click">
        <h2>Click here to View Full Documentation -  <a href="{{i.link}}" style="color: #0f0db1;">Documentation</h2></a>
    </div>
    <div class="text">
        <h1>WRITE YOUR ABSTRACT HERE👇</h1>
    </div>
    <div style="align-items: center; display:flex;justify-content:center;flex-direction: column;" class="speech">
        <textarea>{{i.abstract}}</textarea>
        <button>▶️ START</button>
    </div>
    {% endfor %}
</div>

</body>
</html>